# Prerequisites
*.d

# Key and cert
*.pem

# CmakeFiles
CMakeFiles/

#cmakefiles
CMakeCache.txt

# Object files
*.o
*.obj

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects 
*.so
*.so.*

engine_check
run.sh
