openssl_conf  = openssl_def

[openssl_def]
engines = engine_section

[engine_section]
round5 = round5_section

[round5_section]
engine_id = round5
dynamic_path = /home/pi/Post-Quantum-PKI/install/round5_engine.so
default_algorithms = ALL

